*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jetbrains-mono-300{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    background-color: white;
}

.header{

    display: flex;
    align-items: center;
    gap: 5rem;
    overflow: hidden;
}
.logo{
  color: black;
   text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items:start;
    justify-content: start;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; 
    width: 500rem;
}

.logo:hover{
    cursor: pointer;
}

#shoppingcart{
    margin-right:  1rem; ;
   display: flex;
   justify-content: end;
   align-items: flex-end;
   font-size: 3rem;
  width: 10rem;
  overflow: hidden;
  
}


#shoppingcart:hover{
    cursor: pointer;
}

#user{
    font-size: 3rem;
    
}

#user:hover{
    cursor: pointer;
}



header>button{
    
    font-size: 2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    border: none;
    background-color: white;
    
}

  
.nav{
    opacity: 0.7;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  width: 100%;
  height: 5rem;
  background-color:rgb(233,195	,183);
}

.nav>a{
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    border: none;
    background-color: rgb(233,195	,183);
    height: 5rem;
    
}


.About , .Location{
    opacity: 0.7;
}

.About:hover{
    cursor: pointer;
}

.Location:hover{
    cursor: pointer;
}




  .collectionList {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
    

}





a>button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: black;
}


 


  button:hover{
    cursor: pointer;
  }


 .cover{
    align-items: last baseline;
    justify-content: flex-start;
    position: relative;
    bottom: calc(100% + 5px);
    height: 100%;

 }

  .collectionsimg>img{
    width: 100%;;
    height: 100%;
    object-fit: contain;
  }

  .collectionsimg{
    
    box-shadow: 0.5rem 0rem 3rem 0rem lightgrey;
    object-fit:none;
    width: 40rem;
    height: 60rem;
  }


 img{
  transition: transform .5s ;
 }


  img:hover{
    transform: scale(1.1);
  }



.collections  {
    display: flex;
    width: 100%;
    padding: 4rem;
    
}

.prijs{
  font-size: 2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    background-color: rgb(233,195,183);
    opacity: 0.5;
}




.footer{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(233,195,183);
    width: 100%;
    height: 25rem
}


.footer>h1{
    margin: 10rem;
    display: flex;
    align-items: end;
    justify-content: end    ;
}

.footer>ul{
    margin: 60%;
    font-size: 1.5rem;
}


